document, body {
    margin: 0;
    padding: 0;
    background-color: red;
}


canvas {
    position: absolute;
    margin: 0;
    padding: 0;
}

#background {
    z-index: -55;
}

form {
    position: absolute;
    background-color: lightblue;
    width: 190px;
    padding: 10px;
    z-index: 65;
}

input, label{
    position: relative;
    display:block;
}

#colored, #black, #white, #lighten, #difference, #screen {
    display: inline-block;
}

button {
    position: relative;
    z-index: 75
    /* display:block; */
}

label {
    margin-bottom: 15px;
}

/* #container{
    text-align: center;
} */